# ignore folder #
bin/
target/
output/
logs/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target

### Java template
.class
.exe
.log
.classpath
.settings
.metadata
Thumb.db
.project
*.iml
.idea
target
*.classpath
*.project
.externalToolBuilders/
logs/
*.log
.DS_Store

#idea
*.idea
*.iml